<!DOCTYPE html>
<html>

<head>
  <title>Employee List</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/delete_user.js"></script>
</head>

<body>
  <div class="container">
    <h3>
      <a href="/users/user">Create New User</a>
    </h3>
    <h1>User List</h1>
    <% if(users.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>User Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<users.length;i++) { %>
            <tr>
              <td>
                <%= users[i].name%>
              </td>
              <td>
                <%= users[i].position%>
              </td>
              <td>
                <%= users[i].salary%>
              </td>
              <td>
                <a href="/users/user/<%= users[i]._id%>">
                  Edit
                </a>
              </td>
              <td>
                <button class="deleteButton" data-uid="<%= users[i]._id%>">
                  Delete
                </button>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No users found.</div>
        <% } %>
  </div>
</body>

</html>